
<div class="layui-card-header">版本信息</div>
<div class="layui-card-body layui-text layadmin-about">
  <script type="text/html" template>
    <p>前端：layuiadmin v1.2.1</p>
    <p>后端：Laravel v5.5</p>
  </script>
</div>

<div class="layui-card-header">关于我们</div>
<div class="layui-card-body layui-text layadmin-about">
  <blockquote class="layui-elem-quote" style="border: none;">
  此后台管理是基于layuiadmin作为前端,laravel框架作为后台编写的一个前后分离的后台管理系统.
  </blockquote>
  <p>© 2019 <a href="">通胜科技</a> 版权所有</p>
</div>