<title >配置管理</title>
    <div class="layui-card layadmin-header">
        <div class="layui-breadcrumb" lay-filter="breadcrumb">
            <a lay-href="">主页</a>
            <a><cite>配置管理</cite></a>
            <a><cite class="config_name"></cite></a>
        </div>
    </div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header config_name" ></div>
                <div class="layui-card-body">
                    <table class="layui-hide" id="LAY-config-list" lay-filter="LAY-config-list"></table>

                    <script type="text/html" id="LAY-config-list-toolbarDemo">
                        <div class="layui-btn-container">
                            <!--<button class="layui-btn layui-btn-sm" lay-event="add">添加菜单</button>-->
                            <!--<button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>-->
                            <!--<button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>-->
                        </div>
                    </script>
                    <script type="text/html" id="LAY-config-list-barDemo">
                        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['admin', 'table'], function(){
        var admin = layui.admin
            ,table = layui.table
            ,setter = layui.setter;
        $('.config_name').text(decodeURI(layui.router().search.name));
        table.render({
            elem: '#LAY-config-list'
            ,url:setter.server_url + '/config_list?group='+layui.router().search.group
            ,where: {
                access_token: layui.data('layuiAdmin').access_token
            }
            ,toolbar: '#LAY-config-list-toolbarDemo'
            ,title: '配置列表'
            ,cols: [[
                {type: 'checkbox', fixed: 'left',width:'5%'}
                ,{field:'wap_show', title:'配置项',width:'20%'}
                ,{field:'value', title:'配置值',width:'10%'}
                ,{field:'des', title:'描述', sort: true,width:'15%'}
                ,{field:'created_at', title:'创建时间',width:'15%'}
                ,{field:'updated_at', title:'更新时间',width:'15%'}
                ,{fixed: 'right', title:'操作', toolbar: '#LAY-config-list-barDemo'}
            ]]
            ,page: true
            ,id:'config_list'
        });
        setTimeout(function() {
            $('dd[data-name="' + layui.router().search.group + '"]').addClass('layui-this');
        },200);
        //监听行工具事件
        table.on('tool(LAY-config-list)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('数据千万条,勿删错一条,您的手一抖,开发两行泪~', function(index){
                    admin.req({
                        url:layui.setter.server_url + "/menu_del",
                        type:"post",
                        data:{id:obj.data.id},
                        done:function(res){
                            obj.del();
                            layer.close(index);
                        }
                    });
                });
            } else if(obj.event === 'edit'){
                layui.use(['admin','view'],function(){
                    var admin=layui.admin,
                        view=layui.view;
                    admin.popup({
                        "title":"编辑配置"
                        ,area: ['60%', '80%']
                        ,id:'LAY-config-update'
                        ,success: function(){
                            view(this.id).render('config/update',{id:obj.data.id});
                        }
                    });
                });
            }
        });

    });
</script>